html,
body {
  margin: 0;
  height: 100vh;
  font-size: 10px;
  background-color: #ecf0f1;
  font-family: 'Roboto', sans-serif;
}

h1 {
  font-size: 6rem;
  color: #3498db;
}

input {
  font-family: 'Roboto', sans-serif;
  color: #3498db;
  background-color: #ecf0f1;
  position: relative;
  padding-left: 3rem;
  font-size: 2rem;
  height: 40px;
  width: 100%;
  border-radius: 10px;
}

input:focus {
  outline: none;
}
